* {
    font-family: "Outfit", sans-serif;
    font-size: 15px;
}

h3 {
    font-weight: 700;
    font-style: normal;
}

p {
    font-weight: 400;
    font-style: normal;
}

body {
    background-color: hsl(220, 15%, 55%);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.card {
    background-color: hsl(0, 0%, 100%);
    width: 320px;
    height: 500px;
    border-radius: 20px;
    padding: 15px;
}

.qr-code img {
    width: 100%;
    border-radius: 10px;
}

@media screen and (max-width: 350px) {
    .card {
        width: 280px;
    }
}